body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e2f6e1;
  height: max-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tarjetas {
  background-color: rgb(234, 248, 255);
}

.green {
  background-color: #74D971;
}

.App {
  height: 100vh;
}

.negritas {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}